<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style></style>
  </head>
  <body>
    <h1>Invoice</h1>
    <p style="color: green">Click here for view your invoice:</p>
    <p><a href="<%= @url %>"><%= @url %></a></p>
  </body>
</html>
